@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<LMS16.Core.ViewModels.CourseViewModels.CourseIndexViewModel>

 @foreach (var item in Model) { 
     <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Description)</td>
        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span> | </span>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span> | </span>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>  <span> | </span>
        </td>
    </tr>
}
