@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LMS16.Core.ViewModels.StudentViewModels.StudentCourseViewModel
@{
    ViewData["Title"] = "Student overview";
}

<h1>Student overview</h1>
<p>View Modules and activities linked to courses</>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Course)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     <tr>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
            <td>@Html.DisplayFor(model => model.LastName)</td>
            <td>@Html.DisplayFor(model => model.Course.Name)</td>
            <td></tr>
    </tbody>
</table>